<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <div id="contenedorCanvas{tipoGrafico}{idGrafico}" class="grafico_ceis" data-num-grafico="{idGrafico}" style="width:{tamanoGrafico};">
        <canvas id="canvasGrafico{tipoGrafico}{idGrafico}"></canvas>

        <input id="recibeTituloGrafico{tipoGrafico}{idGrafico}" type="hidden" value="{tituloGrafico}">
        <input id="recibeTipoGrafico{tipoGrafico}{idGrafico}" type="hidden" value="{tipoGrafico}">

        <f:for each="{datasets}" as="datosAgrupados" iteration="iterador">
            <input id="recibeDataset{tipoGrafico}{idGrafico}_{iterador.index}" type="hidden" value="{datosAgrupados}">
        </f:for>

        <f:for each="{nombresDataset}" as="etiquetaGrupo" iteration="iterador">
            <input id="recibeNombresDataset{tipoGrafico}{idGrafico}_{iterador.index}" type="hidden" value="{etiquetaGrupo}">
        </f:for>


        <f:for each="{coloresDataset}" as="color" iteration="iterador">
            <input id="recibeColor{tipoGrafico}{idGrafico}_{iterador.index}" type="hidden" value="{color}">
        </f:for>

        <input id="recibeCadenaLabels{tipoGrafico}{idGrafico}" type="hidden" value="{etiquetasEjeX}">

        <input id="recibeNombreX{tipoGrafico}{idGrafico}" type="hidden" value="{valorX}">
        <input id="recibeNombreY{tipoGrafico}{idGrafico}" type="hidden" value="{valorY}">
    </div>


</div>