{namespace graficos=CeisUfro\GraficosCeis\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="example" options="{group: 'CEIS'}" label="Generador De Graficos" description="Dibuja graficos a partir de datos ingresados por backend o mediante la direccion de un servicio">
			<!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:flexform tag -->
			<flux:form.sheet name="config" label="Configuracion General">
				<flux:field.input name="idGrafico" label="Ingrese id del grafico"></flux:field.input>
				<flux:field.input name="titulo" label="Ingrese titulo del grafico"></flux:field.input>
				<flux:field.input name="nombreEjeX" label="Ingrese nombre de datos eje X"></flux:field.input>
				<flux:field.input name="nombreEjeY" label="Ingrese nombre de datos eje Y"></flux:field.input>
				<flux:field.select name="tamano" label="Ingrese el tamaño del Grafico"items="40%, 50%, 60%, 70%, 80%, 90%, 100%"></flux:field.select>
				<flux:field.select name="tipoGrafico" label="Seleccione el tipo de Grafico" items="Barra,Linea,Radar"></flux:field.select>
			</flux:form.sheet>
			<flux:form.sheet name="cadena" label="Ingreso de Datos">
				<flux:field.input name="etiquetasX" label="Ingrese la etiquetas para el eje X (Separadas por 'coma')"></flux:field.input>
				<flux:form.section name="ejeX" label="Seccion Eje X">
					<flux:form.object name="grupoDatos" label="Conjunto de Datos (Datasets)">
						<flux:field.input name="nombreGrupo" label="Ingrese el nombre de conjunto de datos"></flux:field.input>
						<flux:field.input name="colorGrupo" label="Seleccione color para el grupo"></flux:field.input>
						<flux:field.input name="cadenaDatos" label="Ingrese datos para el grupo (Uno por cada etiqueta separado por 'coma')"></flux:field.input>
					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
			<flux:form.sheet name="servicio" label="Acceso a Servicio">
				<flux:field.input name="enlace" label="Ingrese URL del servicio "></flux:field.input>
			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<!-- If you wish, place custom backend preview content here -->
	</f:section>

	<f:section name="Main">
		<graficos:GraficosCeis titulo="{titulo}" tipoGrafico="{tipoGrafico}" nombreEjeX="{nombreEjeX}" nombreEjeY="{nombreEjeY}" tamano="{tamano}" etiquetasX="{etiquetasX}" grupoDatos="{ejeX}" datosServicio="{enlace}" idGrafico="{idGrafico}"/>
	</f:section>
</div>
